*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 9%;
}
header{
     background-color: black;
     padding: 10px 20px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
   
}
 .nav-one{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 nav p{
    font-size: 12px;
 }
 nav h3{
    font-size: 14px;
 }
.input{
    width: 400px;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid black;
}
.input input{
    width: 100%;
    padding: 8px 20px;
    outline: none;
    border: none;
}
.fa-magnifying-glass{
    padding: 8px 10px;
    background-color: orange;
    cursor: pointer;
}
.product-div{
    width: 250px;
    background-color: #fefefe;
    border-radius: 20px;
    padding: 20px 10px;
    box-shadow: 0 6px 6px rgba(0, 0, 0,.3),-0 -1px 2px rgba(0, 0, 0, 0.459);
}
.product-div-img{
    width: 100%;
    border-radius: 10px;
}
.product-div h2{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
    line-height: 20px;
    text-transform: capitalize;
}
.product-div-container{
    padding: 0 20px;
    margin-top: 30px;
    
}
sup{
 font-size: 10px;   
}
.price{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
h1{
    font-size: 20px;
    
}
h6{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    margin-top: 10px;
}
button{
    width: 100%;
    padding: 5px 10px;
    background-color: rgb(218, 218, 19);
    border: none;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
}